@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}
.text-align{
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
/* nav style */
.navebar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: 1.25rem;
    font-weight: bold;
}
.nav-item a{
    text-decoration: none;
}
.nav-btn{
    padding: 10px 40px;
    background-color: #FEA301;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
}
.nav-link-1{
    color: #FEA301;
}
.nav-link-2{
    color: #01ACFD;
}
.nav-link-3{
    color: #05D4DF;
}
.nav-link-4{
    color: #5D58EF;
}
.navebar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    justify-content: space-between;
}
/* .banner-img{
    width: 100%;
} */
.empowering-content{
    max-width: 600px;
    margin-top: 20px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
#empowring{
    color: #FEA301;
}
.towards{
    color: #01ACFD;
}
.banner-para{
    font-size: 1.25rem;
    margin-top: -40px;
}
.banner-btn{
    padding: 10px 30px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 12px;
}
.nav-img{
    width: 50px;
    display: none;
}
/* main style */
main{
    background-image: url(assets/bg.png);
    
}

.bg-color{
    background: linear-gradient(to bottom, #fff, #e9d9b7);
}

.standard{
    padding: 50px 40px;
    text-align: center;
    margin-top: -30px;
 
}
.standard-color1{
    background: linear-gradient(to bottom, #DEF5FF, #fff);
    border-radius: 18px;
    border: 2px solid #DEF5FF;
    padding: 60px 20px;
}
.standard-color2{
    background: linear-gradient(to bottom, #FFF4DC, #fff);
    border-radius: 18px;
    border: 2px solid #FFF4DC;
    padding: 60px 20px;
}
.standard-color3{
    background: linear-gradient(to bottom, #F2E8FF, #fff);
    border-radius: 18px;
    border: 2px solid #F2E8FF;
    padding: 60px 20px;
}
.arrow-icon{
    text-align: center;
    
}
.arrow-icon img{
    width:40px;
    background-color: #FEA301;
    border-radius: 100%;
}
/* Our Stories */
.our-title{
    align-items: center;
}

.our-content2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  
}
.our-content1 img{
    width: 100%;

}
.our-content1{
    background-color: #fff;
    max-width: 600px;
    border-radius: 16px;
 

}

.our-storie{
    padding: 30px;
    
}
.stories-content{
    gap: 30px;
    
}
.our-btn{
    
    background-color: #3CD8E8;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 48px;
    position: absolute;
    margin-left: -43%;
    margin-top: 27%;
}
.our-content2 img{
    width: 100%;
}

.our{
    background-color: #fff;
    max-width: 300px;
    border-radius: 16px;
}
.our h4{
    padding: 10px 30px;
}
.our-btn-1{
    background-color: #FEA301;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 48px;
    position: absolute;
    margin-left: -273px;
    margin-top: 172px;
}
.our-2{
    background-color: red;
}
.our-3{
    background-color: #01ACFD;
}
.our-4{
    background-color: #95B226;
}
.view-all{
    background-color: black;
    padding: 10px 40px;
    color: #fff;
    border: none;
    border-radius: 12px;
}
.text-aling-center{
    text-align: center;
    padding: 50px;
}









/* footer style */

/* responsive device for phone*/
  @media screen and (max-width: 576px) {
    .banner, .standard-content{
        flex-direction: column;
       
    }
    .empowering-content{
        text-align: center;
    }
    .nav-links, .nav-btn, h2, .our-content1{
        display: none;
    }
    .nav-img{
        display: block;
    }
    .navebar{
        border-bottom: 2px solid #FEA301;
    }
    .arrow-icon{
        display: none;
    }
    .our-btn-1{
        position: relative;
        top: -12rem;
        left: 18rem;
    }
    h4{
        margin-top: -180px;
    }
}  