@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}

/* nav style */
.navebar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
    font-size: 1.25rem;
    font-weight: bold;
}
.nav-item a{
    text-decoration: none;
}
.nav-btn{
    padding: 10px 40px;
    background-color: #FEA301;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    border: none;
    border-radius: 12px;
}
.nav-link-1{
    color: #FEA301;
}
.nav-link-2{
    color: #01ACFD;
}
.nav-link-3{
    color: #05D4DF;
}
.nav-link-4{
    color: #5D58EF;
}
.navebar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.banner{
    justify-content: space-between;
}
/* .banner-img{
    width: 100%;
} */
.empowering-content{
    max-width: 600px;
    margin-top: 20px;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
#empowring{
    color: #FEA301;
}
.towards{
    color: #01ACFD;
}
.banner-para{
    font-size: 1.25rem;
    margin-top: -40px;
}
.banner-btn{
    padding: 10px 30px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 12px;
}
.nav-img{
    width: 50px;
    display: none;
}
/* main style */
main{
    background-image: url(assets/bg.png);
}
.standard-title{
    text-align: center;
    margin: 50px 0;
}
.standard{
    padding: 50px 40px;
    text-align: center;
    margin-top: -30px;
 
}
.standard-color1{
    background: linear-gradient(to bottom, #DEF5FF, #fff);
    border-radius: 18px;
    border: 2px solid #DEF5FF;
    padding: 60px 20px;
}
.standard-color2{
    background: linear-gradient(to bottom, #FFF4DC, #fff);
    border-radius: 18px;
    border: 2px solid #FFF4DC;
    padding: 60px 20px;
}
.standard-color3{
    background: linear-gradient(to bottom, #F2E8FF, #fff);
    border-radius: 18px;
    border: 2px solid #F2E8FF;
    padding: 60px 20px;
}
.arrow-icon{
    text-align: center;
    
}
.arrow-icon img{
    width:40px;
    background-color: #FEA301;
    border-radius: 100%;
}










.umme{
    display: none;
}
/* footer style */

/* responsive device for phone*/
  @media screen and (max-width: 576px) {
    .banner, .standard-content{
        flex-direction: column;
       
    }
    .empowering-content{
        text-align: center;
    }
    .nav-links, .nav-btn, h2{
        display: none;
    }
    .nav-img{
        display: block;
    }
    .navebar{
        border-bottom: 2px solid #FEA301;
    }
    .arrow-icon{
        display: none;
    }
}  